*{
    margin: 0;
    padding: 0;
}

p {
}

caption.dangky {
    text-align: center;
    color: green;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-3.wow.zoomInRight {
    margin-top: 53px;
    color: black;
}

li.wow.bounceInDown {
    font-size: 14px;
    margin-bottom: -15px;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    background: #0000001c;
    height: 60px;
    margin: auto;
    padding: 0px;
}

li {
    list-style: none;
    float: left;
    margin-left: 100px;
    padding: 14px;
    font-size: 20px;
}

li.duoi {
    font-size: 14px;
    margin-right: 0px;
}
.container-fluid {
    margin-top: 30px;
    background: #00abff26;
    height: 150px;
    margin-bottom: 10px;
    position: fixed;
    margin-bottom: 10px;
}